/*-- Oinarrizkoak ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.gardena { clear: both; }
img { border: none; }

/*-- Diseinua ----------------------------------------------------------*/
#edukitzailea {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
}

#goiburua, #menua, #albokoa, #edukia, #edukia #printzipala, #edukia #bigarrenMailakoa, #oina {
  border: none;
}

#goiburua { clear: both; }
#menua { clear: both; }
#albokoa { float: left; width: 20%; }
#edukia { float: right; width: 78%; }
#edukia #printzipala { float: left; width: 78%; }
#edukia #bigarrenMailakoa { float: right; width: 20%; }
#oina { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
#goiburua #logoa { float: left; }
#goiburua #bilatzailea { float: right; }

/*-- Menu ------------------------------------------------------------*/
#menua ul#menu_printzipala li { display: inline; float: left; }

/*-- Sección Principal -----------------------------------------------*/
#edukia #printzipala .artikulua img { width: 100px; float: left; }

/*-- Orri oina ---------------------------------------------------*/
#oina .estekak   { float: left; }
#oina .copyright { float: right; }
#goiburua{padding: 1em;}


#menua{margin-bottom: 0.5em; padding: 0.5em;border-bottom: 1px solid #004C99;}
#berriak, #iragarkiak,#edukia #printzipala, #edukia #bigarrenMailako{padding: 0.5em;}
#oina {margin-top: 1em;}
#iragarkiak {margin-top: 1em;border:1px solid #CC6600;}
img{margin: 0.5em;}
#edukia #printzipala .artikulua{margin: 1em}
#berriak{border:1px solid #C5C5C5;}
#edukia #bigarrenMailakoa{border-left: 1px solid #CC6600; border-right: 1px solid #CC6600;}























